# Môi trường ảo Python
venv/
env/
__pycache__/

# Dữ liệu ảnh và mô hình AI (Không đẩy lên Github vì quá nặng)
datasets/images/
datasets/labels/
runs/
*.pt

# Biến môi trường
.env


# Temporary files and db
cinesight.db
ram_log_*.txt
*.jpg
ram_test.ps1
test_db.py

